cffi==1.16.0
cryptography==42.0.8
customtkinter==5.2.2
darkdetect==0.8.0
ecdsa==0.19.0
mnemonic==0.20
packaging==24.1
pillow==10.3.0
pip==23.2.1
pyaes==1.6.1
pycparser==2.22
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyOpenSSL==24.1.0
pyscard==2.0.9
setuptools==69.5.1
six==1.16.0


